<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome To academicDons</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<style>
    *{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    html,body{
        background: #eeeeee;
        font-family: 'Open Sans', sans-serif, Helvetica, Arial;
    }
    img{
        max-width: 100%;
    }
    /* This is what it makes reponsive. Double check before you use it! */
    @media only screen and (max-width: 480px){
        table tr td{
            width: 100% !important;
            float: left;
        }
    }
</style>
</head>

<body style="background: #eeeeee; padding: 10px; font-family: 'Open Sans', sans-serif, Helvetica, Arial;">

<center> <!-- Let's Center it. just in case email client does not support margin: 0 auto -->

<!-- ** Top Message
----------------------------------->


<!-- ** Table begins here
----------------------------------->
<!-- Set table width to fixed width for Outlook(Outlook does not support max-width) -->
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="FFFFFF" style="background: #ffffff; max-width: 600px !important; margin: 0 auto; background: #ffffff;">
    <tr>
        <td style="padding: 20px; text-align: center; background: #76ce3e;">
            <h1 style="color: #ffffff">A Paragon of Virtue, A citadel Of Excellence</h1>
        </td>
    </tr>


<!--    <tr>-->
<!--        <td style="padding: 20px; text-align: center;">-->
<!--            &lt;!&ndash; ** 100% width-->
<!--            -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--            <p style="font-size:30px; margin: 5px;">Why Choose Us</p>-->
<!--            <p>Our cheap writing service works in the field of academic writing for many years. We know what the student needs and are ready to propose you everything to help with academic papers. So no matter where you are now, you’ll get professional assistance</p>-->
<!--            <p style="border-radius: 40px; -moz-border-radius: 40px; padding: 15px 20px; margin: 10px auto; background: #76ce3e; display: inline-block;">-->
<!--                <a href="tel:8888888888" style="color: #fff; text-decoration: none;">Call Us (888) 888-8888</a>-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->


    <tr>
        <td>
            <img src="http://www.ohsikpark.com/samples/email/sf.jpg" />
        </td>
    </tr>


    <tr>
        <td style="padding: 20px;">
            <!-- ** 30% and 70%
            ----------------------------------->
            <table border="0" cellpadding="0">
                <tr>
<!--                    <td width="20%" style="width: 20%; padding: 10px;">-->
<!--                        <img src="http://www.ohsikpark.com/samples/email/profile.jpg" />-->
<!--                    </td>-->
                    <td width="80%" style="width: 80%; padding: 10px; text-align: left;">
                        <h3>Welcome to | PaperHackers</h3>
                        <p>Dear <b>{{user}}</b>,</p>
                        <p>Even if you have a strong desire to write a paper on your own,
                            you can encounter many difficulties.
                            Your teacher may be indifferent to helping students or just has no time to answer your questions.
                            But there is always a way out! You can hire an online essay writer to assist you with any assignment.</p>
                        <p>Your Account Email is: <b>{{client_email}}</b></p>
                        <p>Your Account Password is: <b>{{password}}</b></p>
                        <p style="color: #666666; font-size: 12px;">Make your move now</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr>
        <td style="padding: 20px; background: #2B2E34;">

            <!-- ** 50% and 50%
            ----------------------------------->
            <table border="0" cellpadding="0" cellspacing="0" a>
                <tr>
                    <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;" valign="top">
                        <h2>About us</h2>
                        <p style="font-size: 14px;">PaperHackers essays are NOT intended to be forwarded as finalized work as it is only strictly meant to be used for research and study purposes. EssaySolve does not endorse or condone any type of plagiarism.</p>
                    </td>
                    <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;" valign="top">
                        <h2>Contact us</h2>
                        <!-- ** Footer contact
                        ----------------------------------->
                        <table border="0" style="font-size: 14px;">
                            <tr><td>Call: (254) 705-059950</td></tr>
                            <tr><td>email: support@paperhackers.com</td></tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


<!-- ** Bottom Message
----------------------------------->
<p style="text-align: center; color: #666666; font-size: 12px; margin: 10px 0;">
    Copyright © 2020. All&nbsp;rights&nbsp;reserved.<br />
    If you do not want to recieve emails from us, you can <a href="#" target="_blank">unsubscribe</a>.
</p>

</center>

</body>
</html>
