<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome To academicDons</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<style>
    *{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    html,body{
        background: #eeeeee;
        font-family: 'Open Sans', sans-serif, Helvetica, Arial;
    }
    img{
        max-width: 100%;
    }
    /* This is what it makes reponsive. Double check before you use it! */
    @media only screen and (max-width: 480px){
        table tr td{
            width: 100% !important;
            float: left;
        }
    }
</style>
</head>

<body style="background: #eeeeee; padding: 10px; font-family: 'Open Sans', sans-serif, Helvetica, Arial;">

<center> <!-- Let's Center it. just in case email client does not support margin: 0 auto -->

<!-- ** Top Message
----------------------------------->


<!-- ** Table begins here
----------------------------------->
<!-- Set table width to fixed width for Outlook(Outlook does not support max-width) -->
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="FFFFFF" style="background: #ffffff; max-width: 600px !important; margin: 0 auto; background: #ffffff;">
    <tr>
        <td style="padding: 20px; text-align: center; background: #76ce3e;">
            <h1 style="color: #ffffff">A Paragon of Virtue, A citadel Of Excellence</h1>
        </td>
    </tr>


    <tr>
        <td style="padding: 20px; text-align: center;">
            <!-- ** 100% width
            ----------------------------------->
            <p style="font-size:30px; margin: 5px;">Thank you for Signing Up</p>
            <p>Dear Writer, <b>WR-{{user}}</b></p>
            <p>We are always in search for skilled, talented and experienced writers. If you enjoy writing, like to share your knowledge with others, have strong time-management skills,
                and have a desire to meet the high standards of academic writing, you are welcome to register with us!</p>
            <p>Your Account Email is: <b>{{client_email}}</b>
            <p>Your Account Password is: <b>{{userpass}}</b>
            <p style="border-radius: 40px; -moz-border-radius: 40px; padding: 15px 20px; margin: 10px auto; background: #76ce3e; display: inline-block;">

                <a href="{% url 'writer_login' %}" style="color: #fff; text-decoration: none;">Login To your Account</a>
            </p>
        </td>
    </tr>





    <tr>
        <td style="padding: 20px; background: #2B2E34;">

            <!-- ** 50% and 50%
            ----------------------------------->
            <table border="0" cellpadding="0" cellspacing="0" a>
                <tr>
                    <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;" valign="top">
                        <h2>Why choose us</h2>
                        <p style="font-size: 14px;">You will be provided with the freedom to choose projects to work on, set bids for particular types of projects, pick preferred academic areas in which to work, and work from any location
                            that has an access to the Internet. In effect, you can be your own boss.</p>
                    </td>
                    <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;" valign="top">
                        <h2>Contact us</h2>
                        <!-- ** Footer contact
                        ----------------------------------->
                        <table border="0" style="font-size: 14px;">
                            <tr><td>Call: +254 705 059 950</td></tr>
                            <tr><td>email: support@paperhackers.com</td></tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


<!-- ** Bottom Message
----------------------------------->
<p style="text-align: center; color: #666666; font-size: 12px; margin: 10px 0;">
    Copyright © 2020. All&nbsp;rights&nbsp;reserved.<br />
    If you do not want to recieve emails from us, you can <a href="#" target="_blank">unsubscribe</a>.
</p>

</center>

</body>
</html>
