   {% extends "client/client_base.html" %}
{% load static %}
{% block title %}Paperhacker{% endblock %}
{% block content %}
   <script>
<script>
    $(document).ready(function(){
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove();
  });
}, 5000);
});
</script>

    <div class="container pt-5 pb-5">
          {% if messages %}
					<ul style="background: white;" class="messages">
					{% for message in messages %}
					<li style="font-weight: 20px; color: black; padding: 20px;" class="{{ message.tags }}">
					{{ message|safe }}
					<a href="" class="close">x</a>
					</li>
					{% endfor %}
					</ul>
					{% endif %}

        <div class="row pt-3 pb-3 justify-content-center">
            <img src="{% static 'client/images/logo2.png' %}"  width="240px" height="170px" alt="">
        </div>

        <div class="row mt-5 mb-5 justify-content-center" id="paybuttons">

        </div>

    </div>


    <script src="https://www.paypal.com/sdk/js?client-id=ASjp_tVTIhR9EWEq-OMNcBYV-6blTi1WW--qertlTExyaTZO8S8g9xfUFH2d5ZzUfeKPC6kM9CID6ovd"></script>
    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: 'amount'
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    return fetch('', {
                        method: 'post',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID,
                            orderRef:'order.id'
                        })
                    }).then(function (response) {
                        response.json().then(function(data) {
                            if(data.success){
                                window.location = ''
                            }else{
                                alert('Could not verify your payment. Please try again')
                            }
                        });
                    });
                });
            }
        }).render('#paybuttons');

    </script>

{% endblock %}