{% extends "client/client_base.html" %}
{% load static %}
{% block title %}Paperhacker{% endblock %}
{% block code %}{{client_code}}{% endblock %}

{% block content %}
    <style class="text/css">
        .table-striped tr:nth-child(odd){
            background: lightgrey !important;
        }
        .order {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 10px;
            margin-top: 20px;
        }
        .order h4 span{
            font-weight: normal;
            font-size: 16px;
        }
        .order h4{
            font-weight: bold;
            font-size: 16px;
        }
        .order .col-sm-4:nth-child(1){
        }
        .order .col-sm-4:nth-child(2){
        }
        .order .col-sm-4:nth-child(3){
        }
        .table-sm th,td{
            padding: 5px !important;
        }
        .text-light-blue{
            color: deepskyblue !important;
        }
    </style>

    <div class="container" style="height: 65%;">
         {% if messages %}
<ul style="background: #0a2535;" class="messages">
{% for message in messages %}
<li style="font-weight: 20px; color: white; padding: 20px;" class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">x</a>
</li>
{% endfor %}
</ul>
{% endif %}



    <div class="container pb-5" id="orders_area">
{% for i in writer_orders %}

        <div class="order box box-solid" v-for="order in orders">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4"><h4 class="text-light-blue">{{i.topic}}
                        <span class="badge badge-danger"  v-if="order.paypal_transaction == null || order.paypal_transaction.length<=0" >
                            Completed</span> </h4></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><h4>ID: <span>{{i.id}}</span></h4></div>
                    <div class="col-sm-4"><h4>Deadline: <span>{{show_deadline}}</span></h4></div>
<!--                    <div class="col-sm-4"><h4 style="">Duration: <span v-bind:class="getDeadlineClass(order.deadline)"></span></h4></div>-->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <table class="table table-sm table-striped">
                            <tr>
                                <td>Writer Level</td><th><span v-if="order.discipline!=null">{{i.show_writer_level}}</span></th>
                            </tr>
                            <tr>
                                <td>Education level</td><th><span v-if="order.education!=null">{{i.get_academic_level_display}}</span></th>
                            </tr>
                            <tr>
                                <td>Paper type</td><th><span v-if="order.paper!=null">{{i.show_service_type}}</span></th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-striped">
                                    <tr>
                                        <td>No of words</td><th>{{i.show_no_of_words}}</th>
                                    </tr>
                                    <tr>
                                        <td>Pages</td><th>{{i.number_of_pages}}</th>
                                    </tr>
                                    <tr>
                                        <td>Subject</td><th>
                                            <span >{{i.show_essay_subject}}</span>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <table class="table table-sm table-striped">
                            <tr>
                                <td>Amount</td><th>$ {{i.calculate_total_price}}</th>
                            </tr>
                            <tr>
                                <td>Created at</td><th>{{i.pub_date}}</th>
                            </tr>
                            <tr>
                                <td>Status</td><th>{{i.order_status}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="p-fo pull-left">
                            <span v-if="order.paypal_transaction != null && order.paypal_transaction.length>0" class="text-success">PAID</span>
<!--                            <a v-if="order.paypal_transaction == null || order.paypal_transaction.length<=0" :href="/' + order.id" class="btn btn-warning btn-sm">Not paid, proceed to pay</a>-->
                        </div>

                        <a  href="{% url 'client_completed_order_details' i.id %}" class="btn btn-default pull-right btn-sm"><i class="fa text-primary fa-file"></i> view</a> &nbsp;
                        <a :href="'' + order.id" class="btn btn-default pull-right btn-sm" style="margin-right: 10px"><i class="fa text-primary fa-paperclip"></i>2 files</a>
                    </div>
                </div>
            </div>
        </div>


       {% empty %}
        <tr>
            <td style="color: green;" colspan="8" >You do not have any orders completed yet<td>
        </tr>
        {% endfor %}

    </div>


    <script type="text/javascript">
        var orders_vue = new Vue({
            el:'#orders_area',
            data:{
                orders:[]
            },
            created:function () {
                console.log("created orders vue");
                this.getClientOrders()
            },
            mounted: function () {
            },
            methods:{
                getClientOrders:function () {
                    let url = ''
                    let me = this;
                    axios.get(url)
                        .then(function (res) {
                            me.orders = res.data.orders
                        })
                },
                getTimedifference:function (order_date) {
                    let x = moment.utc(order_date).local()
                    let y = moment.now()
                    let duration = x.diff(y)
                    return moment.utc(duration).format('h[h] m[m] s[s]')
                },
                getDeadlineClass:function (order_date) {
                    let x = moment.utc(order_date).local();
                    let y = moment.now()
                    let duration = moment.duration(x.diff(y)).asHours();
                    if(duration<0){
                        return "deadline-default"
                    }else if(duration<20){
                        return "deadline-danger"
                    }else if(duration<72){
                        return "deadline-warning"
                    }else{
                        return "deadline-success"
                    }
                },
                getStatusString:function(status){
                    if(status==1){
                        return "in-progress"
                    }else if(status==2){
                        return "revision"
                    }else if(status==3){
                        return "completing"
                    }else if(status==4){
                        return "Finished"
                    }else if(status==5){
                        return "Disputed"
                    }else{
                        return "processing"
                    }
                }
            }
        });

    </script>
</div>


{% endblock %}